# Ignore frontend
apps/frontend/.next
apps/frontend/node_modules

# Dependencies
node_modules/

# Git
.git/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Tests
coverage/

# Misc
.trae/
